#Welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#Search {
  /* width: 50%; */
  /* float: right; */
  /* position: relative; */
  /* overflow: hidden; */
}