#Footer {
    background-color: black;
  }

  #Name {
    position: relative;
    font-size: 20px;
    left: 5%;
  }

  #FMessage {
    font-size: 20px;
    position: relative;
    left: 5%;
  }

  #FIcon {
    width: 24px;
    position: relative;
    left: 10%;
  }