#Footer {
    background-color: black;
    /* line-height: 20%; */
    column-count: 2;
    column-width: 50%;
    column-span: all;
  }

  #Name {
    position: relative;
    font-size: 20px;
    left: 5%;
  }

  #FMessage {
    font-size: 20px;
    position: relative;
    left: 5%;
  }

  #FIcon {
    width: 24px;
    position: relative;
    left: 10%;
  }

  /* #copyright {
    position: relative;
  } */